<div class="container border rounded" style="height: 80%;">
    <h1 class="text-center">Lession {{lessionId}}</h1>
    <div class="row m-3 border border-danger" style="height: 100%;">
        <div class="col-3 border border-success d-flex flex-column" style="height: 95%;">
            <h3 (click)="changeTab($event)" [ngClass]="(currentTab==='Vocab')?'tabActive':null"  class="text-center test mt-5 p-2 " >Vocab</h3>
            <h3 (click)="changeTab($event)" [ngClass]="(currentTab==='Grammar')?'tabActive':null" class="text-center  test mt-5 p-2 " >Grammar</h3>
            <!-- <h3 (click)="changeTab($event)" [ngClass]="(currentTab==='Reading')?'tabActive':null" class="text-center  test mt-5 p-2 " >Reading</h3> -->
            
        </div>
        <div class="col-8 border border-info" style="height: 95%;">
            <div *ngIf="currentTab === 'Vocab'" style="height:100%" class="overflow-scroll">
                <h2 class="text-center">Vocab</h2>
                

                <div *ngIf="response === undefined" class="spinner-border" role="status">
                    <span class="visually-hidden">Loading...</span>
                  </div>
                <div class="my-4" *ngIf="response !== undefined">
                    <hr>
                    <div class="my-3 p-3 border rounded bg-info text-white d-flex justify-content-around">
                        <h3>Chọn accent phát âm:</h3>

                     <select [(ngModel)]="selectedVoice" >
                        <option *ngFor="let voice of voices; index as i" [value]="i">{{voice.name}}</option>
                      </select>
                    </div>
                    
                    <div class="row m-3" >
                        <div class="col-2  text-center "><h3>Hình ảnh</h3></div>
                        <div class="col-3 text-center"><h3>Vocab/ Vietnamese</h3></div>
                        <div class="col-3"><h3>Phân loại từ</h3></div>
                        <div class="col-3"><h3>Phát âm</h3></div>
                    </div>
                    <div class="row my-5 mx-4" *ngFor="let vocab of response.vocabularies">
                        <img class="col-2 " style="object-fit: cover;width: 100px;" src="{{vocab.image}}" class="img-thumbnail" alt="vocab.vocab">
                        <div class="col-4 text-center d-flex flex-column">
                            <p>{{vocab.vocab}}</p>
                            <p>{{vocab.vietnamese}}</p>
                        </div>
                        <div class="col-3">{{vocab.wordClass}}</div>
                        <div class="col-3 "><button class="text-center btn btn-primary" (click)="speak(vocab.vocab)">Speaker</button></div>
                        <hr>
                    </div>
                </div>
               
            </div>  
        
            <div *ngIf="currentTab === 'Grammar'">
                <h2 class="text-center">Grammar</h2>
                <div *ngIf="response === undefined" class="spinner-border" role="status">
                    <span class="visually-hidden">Loading...</span>
                  </div>
                <div *ngIf="response !== undefined">
                    <div *ngFor="let grammar of response.grammars">

                    </div>
                </div>
            </div> 
        
        </div>
    </div>
    
   
</div>