<div class="border rounded p-5">
    <h1 class="d-inline" *ngFor="let text of question">
        <span class="m-3"  *ngIf="text !== '_' && text !== '_.'">{{text}}</span>
        <span class="m-3"  *ngIf="text === '_'"><input [(ngModel)]="inputAnswer" style="max-width: 100px;" type="text"></span>
        <span class="m-3"  *ngIf="text === '_.'"><input [(ngModel)]="inputAnswer" style="max-width: 100px;" type="text">.</span>
    </h1>
    <br>
    <div class="text-center pt-5">
        <button (click)="checkAnswer()" class=" btn-lg text btn btn-info">Check</button>
    </div>
   

</div>