<div  class="container pt-5 pb-5">
    <div *ngIf="response!== undefined">
        <h1 class="text-center">Lession {{response.lessionId}}: {{response.title}} / {{response.vietnamese}}</h1>
        <div class="row">
            <div class="col-6 border border-info p-3">
                <img style="max-height:100%; max-width:100%;object-fit: contain;" src="{{response.image}}" alt = "{{response.title}}">
                <h1>
                    Mô tả 
                </h1>
                <h3>{{response.description}}.</h3>
                <h1>
                    Comment go here
                    <div>
                        <h2> comment </h2>
                    </div>
                </h1>
            </div>
            <div class="col-6 border border-danger">
                <h1>
                    Intructions
                </h1>
                <h1>
                   <button (click)="startTest()">Start your test</button>
                </h1>
                <h1>
                    Top 10 highest score: 
                </h1>
            </div>
        </div>
    </div>
   <div *ngIf="response === undefined">
        Loading...
   </div>
</div>