
<div class="container">
    
    
    <div *ngIf="response !== undefined">
        <h1>Câu hỏi hiện tại: {{index}}/{{response.length}}</h1>

        <div *ngIf="type==='vocab'">
         
            <app-quiz class="game" (scoreEvent)="score=$event" [score]="score" [lessionVocabs]="vocabs" [inputQuiz]="current"></app-quiz>
            <div class='text-center'>
                <button class="text btn btn-primary" (click)="nextQuestion()">Câu tiếp theo</button>
            </div>
        </div>
    
        <div *ngIf="type==='reading'">
           
            <app-reading class="game" (scoreEvent)="score=$event" [score]="score" [inputQuiz]="current"></app-reading>
            <div class='text-center'>
                <button class="text btn btn-primary">Kết thúc</button>
            </div>
        </div>
    
        <div *ngIf="type==='sentence'">
         
            <div *ngIf="randInt === 1">
                <app-scrambled (scoreEvent)="score=$event" [score]="score" [inputQuiz]="current" class="game" ></app-scrambled>
            </div>
            <div *ngIf="randInt === 0">
                <app-blankfill (scoreEvent)="score=$event" [score]="score" [inputQuiz]="current" class="game" ></app-blankfill>
            </div>
            <div class='text-center'>
                <button class="text btn btn-primary" (click)="nextSentence()">Câu tiếp theo</button>
            </div>
        </div>
    </div>
    
    <div *ngIf="response === undefined">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
    </div>
    

</div>