<p>scrambled works!</p>

<div>
    <h1 class="text-center">Sắp xếp các câu sau thành câu đúng</h1>
    <div id="toBar" class="m-4 p-5 border border-success"><h1  style="visibility: hidden;">{{scrambledSen}}</h1></div>
    <div id ="fromBar" class="m-4 p-5 border border-primary"><h1 style="visibility: hidden;">{{scrambledSen}}</h1></div>
    <div id="text-container"></div>
    <div class="text-center">
        <button class="text text-center btn btn-info text-white" (click)="checkAnswer()">Kiểm tra</button>
    </div>
   
</div>
